<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576145547378-81jg9ot8ka1r4422r4bnvh337cu2aalq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576145547378-81jg9ot8ka1r4422r4bnvh337cu2aalq</string>
	<key>API_KEY</key>
	<string>AIzaSyD7LEiQuDyFCCzZfI4TVrN8AuQm8kDfnew</string>
	<key>GCM_SENDER_ID</key>
	<string>576145547378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mosainfo.uberCloneFlutter</string>
	<key>PROJECT_ID</key>
	<string>delivery-app-udemy-dc6b5</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-app-udemy-dc6b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576145547378:ios:504e789b27af90a9b0e2eb</string>
</dict>
</plist>